
.intro{
    text-align: center;
    /* float: left; */
    /* align-self: center; */
    display: flex;
    justify-content: center;
}
img{
    border-radius: 1.5em;
    float: left;
    /* height: 240px; */
    /* width: 250px; */
  /* max-width: 400px; */
    /* height: 250px;  */
    padding: 10px;
}
header h1{
    text-decoration-color: violet;
}
.page{
 background-color: rgb(186, 212, 160); 
    /* padding: 30px; */
    /* margin: 30px; */
    /* line-height: 1.5; */
    /* font-size: 14px; */
    text-align: justify;
    justify-content: center;
}

h2{
 color: darkgreen;
 font-family: cursive;
 justify-content: center;
 display: flex;
}

.pictureBox{
    float: left;
}
.city{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.paragraph{
    margin-right: 4%;
}
.durban{
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 4%;
}
.nextDoor {
    display: flex;
     /* width: 30em; */
    /* padding: 13px; */
}
.nextDoor img{
    float: left;
    /* width: 30em;
    padding: 10px;*/
}
.pictures{
    float: left;
}

.next{
    /* width: 240px; */
    /* justify-content:center; */
 
}
.language{
    padding: 8px;
}
.nextDoor1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table, tr, th, td {
    border: 2px solid black;
    border-spacing: 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; 
    }
    th{
        background-color: gray;
    }
table, th, td{
    padding: 15px;
}
.buildings{
    margin: 10px;
}
.nextDoor p{
    max-width: 300px;
}
    
@media(max-width: 800px){
    .nextDoor{
    flex-direction: column;

    }
    .intro{
        flex-direction: column;
    }
    .city{
        flex-direction: column;
    }
    .nextDoor1{
        flex-direction: column;
    }
}